
.formulario {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  /*background-color: #0a2d6d ;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 20px;
  place-content: center;
  font-family:" Roboto", Helvetica, Arial, sans-serif;;
}



.formulario label {
  margin-bottom: 5px;
  color: aliceblue;
}

.formulario input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario button {
  display: block;
  /* width: 100%; */
  padding: 10px 30px;
  background-color: #96bce6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #0056b3;
}
